<!DOCTYPE html>
<html>
<head>
    <title>Ubicación de la IP</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Ubicación de la IP: {{ ip }}</h1>
    {% if lat and lon %}
        <p>Ciudad: {{ city }}, País: {{ country }} :region {{region}}</p>
        <div id="map"></div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script>
            var map = L.map('map').setView([{{ lat }}, {{ lon }}], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '© OpenStreetMap'
            }).addTo(map);

            var marker = L.marker([{{ lat }}, {{ lon }}]).addTo(map);
            marker.bindPopup("<b>{{ city }}</b><br>{{ country }}").openPopup();
        </script>
    {% else %}
        <p>Error: {{ error }}</p>
    {% endif %}
</body>
</html>
